@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: rgba(255, 0, 0, 0.6);
    animation: spin 1s ease-in infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.pokedex-container{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 50%, 60% 65%, 40% 65%, 30% 50%, 0 50%);
    background-color: #1f1d1d;
    margin-bottom: -4rem;
    
}

.pokedex-height{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -7rem;
}

.poke-ball-container{
    margin: -4.5rem auto -1rem;
    width: 40px;
    padding-top: 10px;
}

.poke-ball{
    width: 100%;
}

.title{
    text-align: center;
    color: #b1191994;
    font-family: 'Sriracha', cursive;
    font-size: 3rem;
}

.type-container{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-top: -1rem;
    font-family: 'Sriracha', cursive;
}

.type-container > span{
    margin-left: 10px;
    margin-bottom: 10rem;
}

.App{
    width: 70%;
    margin: 0 auto;
    padding: 5rem 2rem;
    background-color: #fff;
}

.poke-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 23.634%);
    column-gap: 1rem;
    row-gap: 2.5rem;
}

.poke-card{
    font-family: 'Sriracha', cursive;
    text-align: center;
}

.poke-card:hover{
    animation: anim .2s backwards;
}

@keyframes anim{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        ttransform: translateY(0px);
    }
}

.poke-card > p {
    text-align: left;
    margin-left: 10px;
}

.poke-card > h3 {
    text-align: left;
    margin-left: 10px;
    font-size: 1.5rem;
}

.poke-img-container{
    background-color: #c3c3c3;
    border-radius: 10px;
}

.poke-img{
    width: 100%;
}

.poke-type{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.type{
    margin-right: 10px;
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: capitalize;
    text-align: left;
}

.bug{
    background-color: #729f3f;
    color: #fff;
}

.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}

.fairy{
    background-color: #fdb9e9;
    color: #212121;
}

.fire{
    background-color: #fd7d24;
    color: #fff;
}

.ghost{
    background-color: #7b62a3;
    color: #fff;
}

.ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #212121;
}

.normal{
    background-color: #a4acaf;
    color: #212121;
}

.psychic{
    background-color: #f366b9;
    color: #fff;
}

.steel{
    background-color: #9eb7b8;
    color: #212121;
}

.dark{
    background-color: #707070;
    color: #fff;
}

.electric{
    background-color: #eed535;
    color: #212121;
}


.fighting{
    background-color: #d56723;
    color: #fff;
}

.flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.grass{
    background-color: #9bcc50;
    color: #212121;
}

.ice{
    background-color: #51c4e7;
    color: #212121;
}

.poison{
    background-color: #b97fc9;
    color: #fff;
}

.rock{
    background-color: #a38c21;
    color: #fff;
}

.water{
    background-color: #4592c4;
    color: #fff;
}

.pokemon-container{
    background-image: url('https://st2.depositphotos.com/4202565/8164/v/600/depositphotos_81645364-stock-illustration-slanting-black-and-white-lines.jpg');
    background-size: contain;
    padding-bottom: 4rem;
}

.arrow-containers{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: -9rem;
    font-family: 'Sriracha', cursive;
    font-size: 1.5rem;
}

.before{
    clip-path: polygon(0 0, 100% 0, 100% 35%, 45% 35%, 30% 55%, 0 55%);
    background-color: lightcoral;
    width: 50%;
    height: 200px;
    margin-right: 5px;
    cursor: pointer;
}

.page{
    text-decoration: none;
}

.arrow-directions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .9rem;
}

.pokemon{
    text-transform: capitalize;
    margin: 0 .3rem;
    color: #373737;
}

.number{
    margin: 0 .3rem;
    color: #fff;
}

.arrow{
    color: white;
    margin: 0 .3rem;
}

.next{
    clip-path: polygon(100% 0, 100% 55%, 70% 55%, 55% 35%, 0 35%, 0 0);
    background-color: lightcoral;
    width: 50%;
    height: 200px;
    margin-left: 5px;
    cursor: pointer;
}

.title-container{
    display: flex;
    justify-content: center;
    font-family: 'Sriracha', cursive;
    margin-bottom: 1.5rem;
}

.title-container > h2{
    font-size: 3rem;
    font-weight: 400;
}

.title-container > p {
    font-size: 3rem;
    margin-left: 1.5rem;
    color: #505050;
}

.App2{
    width: 70%;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: #fff;
}

.app-container{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.poke-img-container2{
    background-color: #c3c3c3;
    border-radius: 10px;
    width: 50%;
}


.info-container{
    margin-left: 1rem;
    font-family: 'Sriracha', cursive; 
    width: 50%;   
}

.poke-text{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.poke-info-container{
    display: flex;
    background-color: #39a6d1;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    height: 242px;
}

.poke-info{
    width: 50%;
}

.poke-info1{
    width: 50%;
    margin-left: 4rem;
}

.poke-item{
    display: block;
    color: white;
}

.poke-item > span {
    display: block;
    color: black;
}

.poke-item2 > i{
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.poke-info-container2{
    height: 242px;
    background: #4d4d4d;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.poke-info-back{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.poke-back{
    color: #1f1d1d;
    margin: .9rem 1.75rem;
    font-size: 1.25rem;
}

.poke-back-2{
    color: #616161;
    padding: .5rem 1.3rem;
    color: white;
    background-color: black;
    border-radius: 0 10px;
    clip-path: polygon(0 0%, 100% 0, 100% 75%, 25% 75%, 0 50%);
    cursor: pointer;
}

.poke-info-back-container{
    margin: 0 1.75rem;
    color: white;
    padding-bottom: 1.5rem;
}

.poke-info-back-title{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 5px;
}

.type-text{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.poke-type2{
    display: flex;
    justify-content: flex-start;
}

.type2{
    margin-right: 10px;
    padding: 0px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.poke-gender > i{
    font-size: 1.75rem;
}

.poke-gender > i:last-child{
    margin-left: 12px;
}

.poke-stats-container{
    display: flex;
}

.poke-stats{
    width: 50%;
    background-color: #a4a4a4;
    padding: .9rem 2rem;
    border-radius: 10px;
    font-family: 'Sriracha', cursive;
}

.poke-stats > h3 {
    margin-bottom: .8rem;
    margin-left: 5px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
}

.stats-container > li{
    width: 100%;
    margin: 0 5px;
    list-style: none;
    text-align: center;
}

.gauge{
    background: #fff;
    position: relative;
    overflow: hidden;
    list-style: none;
}

.gauge li.percentage{
    background: #30a7d7;
    position: absolute;
    bottom: 0;
    padding-top: 0%;
    border: none;
    z-index: 1;
    animation: animacion 1s ease-in;
}

@keyframes animacion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px); 
    }
    100%{
        transform: translateY(0px);
    }
}

.gauge li{
    background: transparent;
    border-bottom: 5px solid #a4a4a4;
    height: 12px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.stats-container span{
    text-transform: capitalize;
    font-size: .9rem;
    margin-top: .4rem;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: middle;
    display: inline-block;
}

.weakness-container{
    width: 50%;
    margin-left: 1rem;
    font-family: 'Sriracha', cursive;
}

.weakness-container > h3{
    margin-left: .5rem;
}

.poke-type3{
    display: inline-block;
}

.type3{
    margin: .5rem .5rem;
}

.evolution-pokemon-container{
    margin-top: 4rem;
    background-image: url('https://us.123rf.com/450wm/rodinanton/rodinanton1901/rodinanton190100003/126532714-stock-vector-dark-horizontal-background-with-diagonal-stripes-vector-background-with-lighting-.jpg?ver=6');
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.evolution-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.pokemon-title{
    color: #fff;
    font-family: 'Sriracha', cursive;
    margin-left: 2rem;
    margin-bottom: -1rem;
    padding-top: 1rem;
}

.pokemon-card{
    font-family: 'Sriracha', cursive;
    text-align: center;
    color: white;
    font-weight: normal;
}

.pokemon-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3c3c3;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #fff;
}

.pokemon-img{
    width: 90%;
}

.center{
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 40%;
    left: 48%;
}

.right{
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 40%;
    left: 30%;
}

.left{
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 40%;
    left: 63%;
}

.pokemon-type{
    display: flex;
    justify-content: center;
}

.type{
    text-align: center;
}

.name-container{
    display: flex;
    justify-content: center;
}

.name-container > p {
    font-size: 1.25rem;
}

.name-container .id{
    color: #bebebe;
    margin-left: 10px;
}

.poke-button-container{
    display: flex;
    justify-content: flex-end;
}

.poke-button{
    color: #373737;
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    border: 2px solid #373737;
    transition: background-color .3s ease;
}

.poke-button:hover{
    background-color: #373737;
    color: #fff;
    border: 2px solid #373737;
}
