@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: rgba(255, 0, 0, 0.6);
    /* border-right-color: rgb(10, 10, 10, 0.5); */
    animation: spin 1s ease-in infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.poke-ball-container{
    margin: 10px auto -25px auto;
    width: 40px;
}

.poke-ball{
    width: 100%;
}

.title{
    text-align: center;
    color: #b1191994;
    font-family: 'Sriracha', cursive;
    margin-bottom: 10px;
    font-size: 3rem;
}

.App{
    width: 70%;
    margin: 0 auto;
    border: 1px solid;
    padding: 2rem;
}

.poke-container{
    /* width: 100%;  */
    display: grid;
    grid-template-columns: repeat(auto-fit, 23.634%);
    grid-gap: 1rem
}

.poke-card{
    font-family: 'Sriracha', cursive;
    text-align: center;
    /* margin: 0 auto; */
}

.poke-card > p {
    text-align: left;
    margin-left: 10px;
}

.poke-card > h3 {
    text-align: left;
    margin-left: 10px;
    font-size: 1.5rem;
}

.poke-img-container{
    background-color: #c3c3c3;
    border-radius: 10px;
}

.poke-img{
    width: 100%;
}

.poke-type{
    display: flex;
    justify-content: start;
    margin-left: 10px;

}

.type{
    margin-right: 10px;
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: capitalize;
    text-align: left;
}

.bug{
    background-color: #729f3f;
    color: #fff;
}

.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}

.fairy{
    background-color: #fdb9e9;
    color: #212121;
}

.fire{
    background-color: #fd7d24;
    color: #fff;
}

.ghost{
    background-color: #7b62a3;
    color: #fff;
}

.ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #212121;
}

.normal{
    background-color: #a4acaf;
    color: #212121;
}

.psychic{
    background-color: #f366b9;
    color: #fff;
}

.steel{
    background-color: #9eb7b8;
    color: #212121;
}

.dark{
    background-color: #707070;
    color: #fff;
}

.electric{
    background-color: #eed535;
    color: #212121;
}


.fighting{
    background-color: #d56723;
    color: #fff;
}

.flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.grass{
    background-color: #9bcc50;
    color: #212121;
}

.ice{
    background-color: #51c4e7;
    color: #212121;
}

.poison{
    background-color: #b97fc9;
    color: #fff;
}

.rock{
    background-color: #a38c21;
    color: #fff;
}

.water{
    background-color: #4592c4;
    color: #fff;
}

.title-container{
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: center;
    font-family: 'Sriracha', cursive;
    /* align-items: center; */
}

.title-container > h2{
    font-size: 3rem;
    font-weight: 400;
}

.title-container > p {
    font-size: 3rem;
    margin-left: 1.5rem;
    color: #505050;
}

.app-container{
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.info-container{
    margin-left: 1rem;
    font-family: 'Sriracha', cursive; 
    width: 50%;   
}

.poke-text{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.poke-info-container{
    display: flex;
    background-color: #39a6d1;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.poke-info{
    width: 50%;
}

.poke-info1{
    width: 50%;
    margin-left: 4rem;
}

.poke-item{
    display: block;
    color: white;
}

.poke-item > span {
    display: block;
    color: black;
}

.poke-item2 > i{
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.poke-info-container2{
    height: 207px;
    width: 414.2px;
    background: #4d4d4d;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.poke-info-back{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.poke-back{
    color: #1f1d1d;
    margin: .9rem 1.75rem;
    font-size: 1.25rem;
}

.poke-back-2{
    color: #616161;
    padding: .5rem 1.3rem;
    color: white;
    background-color: black;
    border-radius: 0 10px;
    clip-path: polygon(0 0%, 100% 0, 100% 75%, 25% 75%, 0 50%);
    cursor: pointer;
}

.poke-info-back-container{
    margin: 0 1.75rem;
    color: white
}

.poke-info-back-title{
    font-size: 1.4rem;
    font-weight: 300;

}

.type-text{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.poke-type2{
    display: flex;
    justify-content: start;
    /* margin-left: 10px; */
}

.type2{
    margin-right: 10px;
    padding: 0px 20px;
    border-radius: 5px;
    text-transform: capitalize;
}